.eslintrc.js
**/dist
**/node_modules
**/test/**/output
packages/commonjs/test/fixtures
packages/typescript/test/fixtures/syntax-error
packages/eslint/test/fixtures/flat-config

# temporary workaround for eslint bug where package.json is a directory
packages/node-resolve/test/fixtures/package-json-in-path

# temporary workaround for TypeScript as it doesn't support "Arbitrary module namespace identifier names"
# https://github.com/microsoft/TypeScript/issues/40594
packages/json/test/fixtures/arbitrary/main.js
util/test.js
