.nyc_output/
coverage/
dist/
node_modules/
output/

.DS_Store
.eslintcache
coverage.lcov
pnpm-debug.log
.idea

!packages/node-resolve/test/fixtures/**/node_modules
!packages/commonjs/test/**/node_modules
!packages/typescript/test/fixtures/**/node_modules
!packages/typescript/test/fixtures/**/dist
