name: Validate Monorepo

on:
  pull_request:
    types:
      - edited
      - opened
      - synchronize
  push:
    branches:
      - '*'
      - '!master'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ['18', '16', '14']

    name: Node v${{ matrix.node }}

    steps:
      - name: Checkout Commit
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Checkout Master
        run: git branch -f master origin/master

      - name: Install pnpm
        run: npm install pnpm -g

      - name: Sanity Check
        run: |
          echo branch `git branch --show-current`;
          echo node `node --version`;
          echo yarn `pnpm --version`

      - name: pnpm install
        run: pnpm install

      - name: Prettier
        run: pnpm run prettier:check

      # pnpm audit isn't as robust as it needs to be atm
      # - name: Audit Dependencies
      #   run: pnpm security

      - name: Build Packages
        run: pnpm --recursive build

      - name: Lint Monorepo
        run: pnpm lint:js

      - name: Run Tests
        run: pnpm --filter "...[origin/master]" ci:coverage
